.container
  = form_for Link.new do |f|

    .control{class: "#{flash[:error] ? 'error' : ''}"}
      = f.text_field :link,
        placeholder: "paste link",
        autofocus: true,
        autocomplete: "off",
        class: "url-input #{flash[:error] ? 'error' : ''}"


    = f.text_field :urlhash,
      placeholder: "Optional alias",
      autocomplete: "off",
      class: "alias-input",
      maxlength: 20
    = f.submit "☞"
