.container
  = form_for Link.new do |f|
    = f.text_field :link,
      placeholder: "paste link",
      autofocus: true,
      autocomplete: "off",
      :class => "url-input #{flash[:error] != nil ? "error" : ""}"
    = f.text_field :urlhash,
      placeholder: "Alias",
      autocomplete: "off",
      :class => "alias-input"
    = f.submit "â˜"